*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  position: fixed;
  height: 15vh;
  width: 100%;
  background-color: #fff;

  display: flex;               /* центрируем содержимое */
  align-items: center;
  justify-content: center;
}

.satangLogo{
  width: 250px;                
  height: auto;
  max-height: 100%;           
  object-fit: contain;
}
.map {
text-align: center;
height: 98vh;
}
